@tailwind base;
@tailwind components;
@tailwind utilities;

/* 구글 번역 배너, 로고 제거 */
.goog-te-banner-frame.skiptranslate,
.goog-logo-link,
.goog-te-gadget span,
.goog-te-gadget-simple img {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0 !important;
}

body {
  top: 0 !important;
}
